@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-poppins: "Raleway", sans-serif;
}

@layer base {
  body {
    background-color: white;
    scroll-behavior: smooth;
    color: black;
    top: 0px !important;
    @apply font-poppins;
  }
  /* Sembunyikan dropdown bawaan Google */
  #google_translate_element,
  .skiptranslate {
    display: none !important;
  }
  /* Sembunyikan bar atas "Google Translate" */
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  .goog-te-balloon-frame {
    display: none !important;
  }
}

@media print {
  @page {
    /* size: A4 portrait; Atau landscape, sesuaikan layout web kamu */
    margin: 0; /* Menghilangkan margin bawaan kertas browser */
  }

  body {
    -webkit-print-color-adjust: exact !important; /* Memaksa browser Chrome/Safari memunculkan warna Tailwind */
    print-color-adjust: exact !important; /* Memaksa browser Firefox memunculkan warna Tailwind */
    background-color: #faf8f5; /* Tentukan warna bg utama jika hilang */
  }
}

:root {
}
